<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Denise Buder</title>
    <meta name="description" content="Todo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navigation navigation--desktop">
      <ul>
        <li class="navigation__item"><a href="./index.html">Back to Main Page</a></li>
      </ul>
    </nav>
    <div class="navigation navigation--burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="navigation navigation--mobile">
      <ul>
        <li class="navigation__item"><a href="./index.html">Back to Main Page</a></li>
      </ul>
    </nav>
    <section class="section section--fullscreen data-policy">
      <div class="wrapper">
      </div>
    </section>
    <footer class="footer">
      <div class="footer__content">
        <a class="footer__link" href="./imprint.html">Imprint</a>
        <a class="footer__link" href="./data-policy.html">Data Policy</a>
      </div>
      <span class="line line--long"></span>
      <div class="footer__copyright">Ⓒ 2021 Denise Buder</div>
    </footer>
  </body>
</html>