<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Denise Buder</title>
    <meta name="description" content="I am a trained graphic designer and a web development student. I love designing and writing code!">
    <meta name="keywords" content="Denise Buder, Denise Isabella Buder, Web Developer, Web Entwickler, Designer, Graphic Design, Salzburg, Webdesign, Webprogramming, Webprogrammierung, Österreich, Corporate Design, Corporate Identity">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="preload">
    <nav class="navigation navigation--desktop">
      <ul>
        <li class="navigation__item"><a data-scroll href="#me">About me</a></li>
        <li class="navigation__item"><a data-scroll href="#work">My Work</a></li>
        <li class="navigation__item"><a data-scroll href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="navigation navigation--burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="navigation navigation--mobile">
      <ul>
        <li class="navigation__item"><a data-scroll href="#me">About me</a></li>
        <li class="navigation__item"><a data-scroll href="#work">My Work</a></li>
        <li class="navigation__item"><a data-scroll href="#contact">Contact</a></li>
      </ul>
    </nav>
    <nav class="navigation navigation--bottom">
      <a href="#top" class="navigation__arrow"></a>
    </nav>
    <header class="section section--fullscreen header" id="top">
      <div class="wrapper">
        <div class="header__image">
          <img class="header__image--1" src="../images/content/denise.png">
          <img class="header__image--2" src="../images/content/denise-wink.png">
        </div>
        <h1 class="header__headline">
          Hi I am Denise!
        </h1>
        <span class="header__line line line--short"></span>
        <h2 class="header__subline">
          I am a trained graphic designer and a web development student.
        </h2>
        <a href="#me" class="header__arrow"></a>
      </div>
    </header>
    <span class="line line--long"></span>
    <section class="section section--fullscreen about-me" id="me">
      <div class="wrapper">
        <h3 class="about-me__headline">About me</h3>
        <img class="about-me__img" src="../images/content/me.jpg">
        <p class="about-me__text">
          I am a 24-year-old web engineering student from Salzburg, Austria. I am currently studying for a master’s degree at the <a href="https://www.fh-salzburg.ac.at/en/study/design-media-and-arts/multimediatechnology-master" target="_blank">University of Applied Sciences Salzburg</a> in MultiMediaTechnology.
          <br> <br>
          Ever since my childhood, I have been excited about art and technology. Due to these interests I studied graphic and communication design at school (<a href="http://www.htl-salzburg.ac.at/grafik-medien.html" target="_blank">HTBLuVA Salzburg</a>) and did my A-Level in this field in order to learn about design and art. At my current studies at university I am now more focused on technology and programming. In my free time I enjoy working out, playing video games, watching films and series and doing a variety of makeup looks.
          <br> <br>
          Due to my eagerness to learn about new technologies, I enjoy exploring different programming languages, unknown frameworks and I am not afraid to face new challenges. If you have any questions or just want to say hello, feel free to <a href="#contact">contact me below</a>! I’ll be happy to hear from you.
        </p>
      </div>
    </section>
    <span class="line line--long"></span>
    <section class="section section--fullscreen section--work" id="work">
      <div class="wrapper">
        <h3 class="work__headline">My Dev Work</h3>
        <div class="work__project project">
          <div class="project__left">
            <h4 class="project__headline">Turtlet</h4>
            <p class="project__text">
              Turtlet is a messaging app that counters the fast moving zeitgeist of our digital society by giving more emotional value and individualism to its messages (so-called "Turtlets"). This is achieved by including the components time, place, personalization and uniqueness. Similar to a letter or postcard, Turtlets can only be sent to one person at a time and take a certain amount of time to reach the recipient. The app is multimedia-based and also supports the integration of image content.
              <br>
              <br>
              Turtlet was done by Alexander Tischhart, Sandra Zecha, Lukas Seiwald and I as graduation project for the master's degree. I mostly worked on the front-end of the application.
              <br>
              <br>
              #reactnative #javascript #redux #mobileapp
            </p> 
            <a class="project__link" href="https://turtlet.netlify.app/" target="_blank">View the Website</a>
            <a class="project__link" href="https://portfolio.fh-salzburg.ac.at/projects/2020-turtlet#lg=1&slide=0" target="_blank">View the First Trailer on Youtube</a>
          </div>
          <div class="project__right">
            <a class="chocolat2 project__img" href="../images/content/turtlet-1.png" title="Turtlet">
              <img src="../images/content/turtlet-1.png"> 
            </a>
          </div>
        </div>

        <div class="work__project project">
          <div class="project__left">
            <h4 class="project__headline">Soul Collectors</h4>
            <p class="project__text">
              Soul Collectors is a local multiplayer game that runs in the browser with the help of AirConsole and Phaser. The players have a shared screen in the browser window and use their smartphones as gamepads. In Soul Collectors the players play against each other! When a player gets eliminated a soul appears over the dead body of the player. Now the other players' goal is to collect that soul and bring it back to their own base. But watch out, if the player gets eliminated while carrying a soul the soul disappears! If a player manages to collect a soul of every enemy player then he wins the round.
              <br>
              <br>
              Soul Collectors was done by Alexander Tischhart, Lukas Seiwald and I as graduation project for the bachelor's degree. I mainly worked on the communication between gamepads and the screen, the player states and some game mechanics.
              <br>
              <br>
              #javacript #airconsole #phaser 
            </p> 
            <a class="project__link" href="https://github.com/lukasseiwald/MMP3_Buder_Seiwald_Tischhart" target="_blank">View the Code on Github</a> <br>
            <a class="project__link" href="https://turtlet.netlify.app/" target="_blank">View the demo on Youtube</a>
          </div>
          <div class="project__right">
            <a class="chocolat2 project__img" href="../images/content/soul-collectors-2.png" title="Soul Collectors">
              <img src="../images/content/soul-collectors-2.png"> 
            </a>
          </div>
        </div>


        <div class="work__project project">
          <div class="project__left">
            <h4 class="project__headline">help(U)help</h4>
            <p class="project__text">
              Help(U)Help is a tool designed to help social workers organize different tasks and assign these tasks to specific helpers. Admins can create tasks which will be shown to the registered social workers. These social workers now have the possibility to view tasks and apply for a certain task. After the application an admin has to assign the task to one of the applicants. Then the task will be shown on 'Assigned Tasks' for the assigned social worker.
              <br>
              <br>
              Help(U)Help was done by Alexander Tischhart, Christoph Mayr and I as part of the bachelor's degree. The project originally only consisted of a web application, but I programmed an android app in Java later on.
              <br>
              <br>
              #rubyonrails #android #java
            </p>  
            <a class="project__link" href="https://github.com/RainbowBunchie/helpUhelp" target="_blank">View the Code on Github</a> <br>
          </div>
          <div class="project__right">
            <a class="chocolat2 project__img" href="../images/content/helpuhelp-1.png" title="help(U)help">
              <img src="../images/content/helpuhelp-1.png"> 
            </a>
          </div>
        </div>

        <div class="work__project project">
          <div class="project__left">
            <h4 class="project__headline">Cat Curling</h4>
            <p class="project__text">
              Cat Curling is a web game where you do curling in the living room with cats! The player only has a certain amount of shots to get the cat into the goal and get the best score possible. The game consists of five levels with increasing difficulty. 
              <br>
              <br>
              Cat Curling was done by Alexander Tischhart, Selina Brunner and I as part of the bachelor's degree. I mainly worked on the environment and game logic.
              <br>
              <br>
              #phaser #webgame #javascript
            </p>  
            <a class="project__link" href="https://cat-curling.netlify.app/" target="_blank">View the Website</a> <br>
            <a class="project__link" href="https://github.com/RainbowBunchie/CatCurling" target="_blank">View the Code on Github</a> <br>
          </div>
          <div class="project__right">
            <a class="chocolat2 project__img" href="../images/content/cat-curling-1.png" title="Cat Curling">
              <img src="../images/content/cat-curling-1.png"> 
            </a>
          </div>
        </div>

        <div class="work__project project">
          <div class="project__left">
            <h4 class="project__headline">Mysimplecookbook</h4>
            <p class="project__text">
               Mysimplecookbook is the first project that I did at university. It is an online cookbook that makes it possible to create, save and rate recipes. It is also possible to leave comments on recipes and search for specific recipes.  
              <br>
              <br>
              The project was done completely by myself. 
              <br>
              <br>
              #php #postgresql
            </p>  
            <a class="project__link" href="https://cat-curling.netlify.app/" target="_blank">View the Website</a> <br>
          </div>
          <div class="project__right">
            <a class="chocolat2 project__img" href="../images/content/mysimplecookbook-1.jpg" title="Mysimplecookbook">
              <img src="../images/content/mysimplecookbook-1.jpg"> 
            </a>
          </div>
        </div>
      </div>
    </section>
    <span class="line line--long"></span>
    <section class="section section--fullscreen work work--design">
      <div class="wrapper">
        <h3 class="work__headline">My artsy Work</h3>
        <a class="chocolat work__img" href="../images/content/design/db-font.png" title="font design">
          <img src="../images/content/design/db-font.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/illu-4.png" title="character illustration">
          <img src="../images/content/design/illu-4.png">
        </a>
        <a class="chocolat work__img" href="../images/content/makeup-3.png" title="galaxy makeup look">
          <img src="../images/content/makeup-3.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/my-beats.png" title="MyBeats corporate design">
          <img src="../images/content/design/my-beats.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/tuakiri-1.png" title="Tuakiri tattoo magazine">
          <img src="../images/content/design/tuakiri-1.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/tuakiri-2.png" title="Tuakiri tattoo magazine">
          <img src="../images/content/design/tuakiri-2.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/blickfaenger-1.png" title="Blickfaenger button">
          <img src="../images/content/design/blickfaenger-1.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/blickfaenger-2.png" title="Blickfaenger shirt">
          <img src="../images/content/design/blickfaenger-2.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/illu-1.png" title="character illustration">
          <img src="../images/content/design/illu-1.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/new-texture.png" title="New Texture corporate design">
          <img src="../images/content/design/new-texture.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/pralina.png" title="Pralina packaging">
          <img src="../images/content/design/pralina.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/beer.png" title="beer label design">
          <img src="../images/content/design/beer.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/makeup-2.png" title="skeleton makeup look">
          <img src="../images/content/makeup-2.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/typo.png" title="Robb Stark typography portrait">
          <img src="../images/content/design/typo.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/beerlock.png" title="Beerlock logo design">
          <img src="../images/content/design/beerlock.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/illu-2.png" title="character illustration">
          <img src="../images/content/design/illu-2.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/identitaet.png" title="identity photo project">
          <img src="../images/content/design/identitaet.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/unziale.png" title="caligraphy postcard">
          <img src="../images/content/design/unziale.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/design/illu-3.png" title="character illustration">
          <img src="../images/content/design/illu-3.png"> 
        </a>
        <a class="chocolat work__img" href="../images/content/makeup-1.png" title="demon makeup look">
          <img src="../images/content/makeup-1.png"> 
        </a>
      </div>
    </section>
    <span class="line line--long"></span>

    <section class="section section--fullscreen contact" id="contact">
      <div class="wrapper">
        <div class="wrapper">
          <h3 class="contact__headline">Contact</h3>
          <img class="contact__img" src="../images/content/me.jpg">
          <div class="contact__info">
            <p class="contact__text">
              If you have any questions or just want to say hello, feel free to contact me via e-mail at d.buder@sbg.at or simply write me a message on LinkedIn! 
              <br>
              I’ll be happy to hear from you.
            </p>
            <a href="mailto:d.buder@sbg.at?subject=Denise Buder Portfolio" target="_blank" class="contact__link"><img class="contact__icon icon icon--mail" src="../images/content/icons/mail.png">d.buder@sbg.at</a>
            <a href="https://www.linkedin.com/in/denise-buder-5ab783122" target="_blank" class="contact__link"><img class="contact__icon icon" src="../images/content/icons/linked-in.png"> Denise Buder</a>
            <a href="https://github.com/RainbowBunchie" target="_blank" class="contact__link"><img class="contact__icon icon" src="../images/content/icons/github.png"> RainbowBunchie</a>
          </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__content">
        <a class="footer__link" href="./imprint.html">Imprint</a>
        <a class="footer__link" href="./data-policy.html">Data Policy</a>
      </div>
      <span class="line line--long"></span>
      <div class="footer__copyright">Ⓒ 2021 Denise Buder</div>
    </footer>
  </body>
</html>