<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Denise Buder</title>
    <meta name="description" content="Todo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navigation">
      <ul>
        <li class="navigation__item"><a data-scroll href="#me">About me</a></li>
        <li class="navigation__item"><a data-scroll href="#work">My Work</a></li>
        <li class="navigation__item"><a data-scroll href="#contact">Contact</a></li>
      </ul>
    </nav>
    <nav class="navigation navigation--bottom">
      <a href="#top" class="navigation__arrow"></a>
    </nav>
    <header class="section section--fullscreen header" id="top">
      <div class="wrapper">
        <div class="header__image">
          <img class="header__image--1" src="../images/content/denise.png">
          <img class="header__image--2" src="../images/content/denise-wink.png">
        </div>
        <h1 class="header__headline">
          Hi I am Denise!
        </h1>
        <span class="header__line line line--short"></span>
        <h2 class="header__subline">
          a web development student.
        </h2>
        <a href="#me" class="header__arrow"></a>
      </div>
    </header>
    <span class="line line--long"></span>
    <section class="section section--fullscreen about-me" id="me">
      <div class="wrapper">
        <h3 class="about-me__headline">About me</h3>
        <img class="about-me__img" src="../images/content/me.jpg">
        <p class="about-me__text">I’m a 24 year old web engineering student from Salzburg, Austria. I am currently doing my master’s degree in MultiMediaTechnology at the University of Applied Sciences in Salzburg. Ever since my childhood I was interested in art and technology. That’s why I studied graphic and communication design at school to explore my artsy side and now I am more focused on the technical side of things. In my free time I like to do sports, play video games and …
          <br> <br>
          I am passionate about new technologies so I enjoy playing around with different programming languages, frameworks and I am not afraid to face new challenges.  
          If you have any questions or just want to say hello feel free to contact me! I’ll be happy to hear from you.</p>
      </div>
    </section>
    <span class="line line--long"></span>
    <section class="section section--fullscreen" id="work">
      <div class="wrapper">
        <h3 class="work__headline">My Dev Work</h3>
        <div class="work__project project">
          <div class="project__left">
            <h4 class="project__headline">Turtlet</h4>
            <p class="project__text">
              Turtlet was done by Alexander Tischhart, Sandra Zecha, Lukas Seiwald and I as graduation project for the master's degree. 
              <br>
              <br>
              Turtlet is a messaging app that counters the fast moving zeitgeist of our digital society by giving more emotional value and individualism to it's messages (so-called "Turtlets"). This is achieved by including the components time, place, personalization and uniqueness. Similar to a letter or postcard, Turtlets can only be sent to one person at a time and, depending on the distance between the conversation partners, take a certain amount of time to reach the recipient. The app is multimedia-based and also supports the integration of image content.
              <br>
              <br>
              #ReactNative #JavaScript #Redux #Frontend #MobileApp 
            </p> 
            <a class="project__link" href="https://turtlet.netlify.app/" target="_blank">View the Website</a>
            <a class="project__link" href="https://portfolio.fh-salzburg.ac.at/projects/2020-turtlet#lg=1&slide=0" target="_blank">View the First Trailer on Youtube</a>
          </div>
          <div class="project__right">
            <img class="project__img" src="../images/content/turtlet-1.png">
          </div>
        </div>

        <div class="work__project project">
          <div class="project__left">
            <h4 class="project__headline">Soul Collectors</h4>
            <p class="project__text">
              Soul Collectors was done by Alexander Tischhart, Lukas Seiwald and I as graduation project for the bachelor's degree. 
              <br>
              <br>
              Soul Collectors is a local multiplayer game that runs in the browser with the help of AirConsole and Phaser. The players have a shared screen in the browser window and use their smartphones as gamepads! <br> <br>

              In Soul Collectors the players play against each other! When a player gets eliminated a soul appears over the dead body of the player. Now the other players' goal is to collect that soul and bring it back to their own base. But watch out, if the player gets eliminated while carrying a soul the soul disappears! If a player manages to collect a soul of every enemy player then he wins the round.
              <br>
              <br>
              #JavaScript #AirConsole #Phaser #Frontend
            </p> 
            <a class="project__link" href="https://github.com/lukasseiwald/MMP3_Buder_Seiwald_Tischhart" target="_blank">View the Code on Github</a> <br>
            <a class="project__link" href="https://turtlet.netlify.app/" target="_blank">View the demo on Youtube</a>
          </div>
          <div class="project__right">
            <img class="project__img" src="../images/content/soul-collectors-1.png">
            <img class="project__img" src="../images/content/soul-collectors-2.png">
          </div>
        </div>


        <div class="work__project project">
          <div class="project__left">
            <h4 class="project__headline">help(U)help</h4>
            <p class="project__text">
              text text
              <br>
              <br>
              #RubyOnRails #Fullstack #Android #Java
            </p>  
            <a class="project__link" href="https://github.com/RainbowBunchie/helpUhelp" target="_blank">View the Code on Github</a> <br>
          </div>
          <div class="project__right">
            <img class="project__img" src="../images/content/me.jpg">
          </div>
        </div>

        <div class="work__project project">
          <div class="project__left">
            <h4 class="project__headline">Cat Curling</h4>
            <p class="project__text">
              text text
              <br>
              <br>
              #Phaser #BrowserGame #Frontend
            </p>  
            <a class="project__link" href="https://cat-curling.netlify.app/" target="_blank">View the Website</a> <br>
            <a class="project__link" href="https://github.com/RainbowBunchie/CatCurling" target="_blank">View the Code on Github</a> <br>
          </div>
          <div class="project__right">
            <img class="project__img" src="../images/content/cat-curling-1.png">
          </div>
        </div>


      </div>
    </section>
    <span class="line line--long"></span>
    <section class="section section--fullscreen work">
      <div class="wrapper">
        <h3 class="work__headline">My artsy Work</h3>
      </div>
    </section>
    <span class="line line--long"></span>

    <section class="section section--fullscreen" id="contact">
      <div class="wrapper">
        <h3 class="contact__headline">Contact</h3>
      </div>
    </section>
  </body>
</html>