.contact {
    display: flex;
    align-items: center;
    justify-items: center;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.contact__headline {
    margin-bottom: 2em;
}

.contact__img {
    width: 100%;
    @media screen and (min-width: 600px) {
        width: 40%;
    }
}

.contact__info {
    width: 100%;
    margin-top: 2em;
    @media screen and (min-width: 600px) {
        padding-left: 2em;
        width: 60%;
        margin-top: 0;
    }
}

.contact__text {
    margin-bottom: .8em;
}

.contact__link {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;

}

.contact__icon {
    height: 1.7em;
    width: auto;
    margin: .4em 0;
    margin-right: .5em;
}

.icon--mail {
    padding: .23em 0;
    margin-right: .6em;
}

