@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,900;1,900&display=swap');

$color--primary: #d9d9d9;
$color--secondary: #2a2726;
$color--accent: #a60000;
$color--text: $color--primary;

$font--text: 'Source Sans Pro', sans-serif;
$font--heading: $font--text;

$breakpoint--mobile: 480px;
$breakpoint--tablet: 768px;
$breakpoint--desktop: 1024px;
$breakpoint--large-desktop: 1200px;

$contaienr--desktop: 980px;
$contaienr--large-desktop: 1140px;
