.body--no-scroll {
    height: 100vh;
    overflow: hidden;
}

.navigation {
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
}

.navigation--desktop {
    display: none;
    @media screen and (min-width: 1350px) {
        display: flex;
    }
}

.navigation--mobile {
    background-color: $light-gray;
    position: fixed;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    overflow: hidden;
    transition: transform .4s ease-in-out, opacity .2s ease-in-out;
    transform: translateX(-100vw);
}

.navigation--open {
    transform: translateX(0);
    display: flex;
    z-index: 2;
    opacity: 1;
    transition: transform .4s ease-in-out,  opacity .2s ease-in-out;
}

.navigation--burger {
    z-index: 5;
    display: block;
    @media screen and (min-width: 1350px) {
        display: none;
    }
}

.navigation__item {
    a {
        color: #000;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.4em;
        position: relative;
        overflow: hidden;
        padding-bottom: 5px;
        float: left;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            transition: transform .5s ease;
            background-color: black;
            transform: translateX(-70%);
        }

        &:hover::after {
            transform:  translateX(0);
          }
    }
    padding: 2em;
}

.navigation--bottom {
    display: none;
    @media screen and (min-width: 1100px) {
        display: block;
        opacity: 0;
        transition: opacity .5s, transform 1s;
        transform: translateY(10px);
    }
    position: fixed;
    right: calc(15px + 2.5em);
    bottom: 0;
}

.navigation--visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 1s;
}

.navigation__arrow {
    position: absolute;
    bottom: 2em;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    width: 10px;
    transform: rotate(-135deg);
}


.navigation--burger {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 50px;
    height: 40px;
    color: black;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        height: calc(40px + 2em);
        width: calc(50px + 2em);
        top: -1em;
        right: -1em;
        background-color: $light-gray;
        filter: drop-shadow(0 0 1em $shadow-gray);
        transition: filter .3s ease-in-out;
    }
    &.open::before {
        filter: drop-shadow(0 0 1em $light-gray);
        transition: filter .3s ease-in-out;
    }
  }

.navigation--burger span {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navigation--burger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}
.navigation--burger span:nth-child(2) {
    top: 15px;
    transform-origin: left center;
}

.navigation--burger span:nth-child(3) {
    top: 30px;
    transform-origin: left center;
}

.navigation--burger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 4px;
}

.navigation--burger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.navigation--burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 32px;
    left: 3px;
}