.navigation {
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
}

.navigation--desktop {
    display: none;
    @media screen and (min-width: 1350px) {
        display: flex;
    }
}

.navigation--mobile {
    display: none;
    background-color: $light-gray;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    overflow: hidden;
}

.navigation--open {
    display: flex;
}

.navigation--burger {
    z-index: 5;
    display: block;
    @media screen and (min-width: 1350px) {
        display: none;
    }
}

.navigation__item {
    a {
        color: #000;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.4em;
        position: relative;
        overflow: hidden;
        padding-bottom: 5px;
        float: left;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            transition: transform .5s ease;
            background-color: black;
            transform: translateX(-70%);
        }

        &:hover::after {
            transform:  translateX(0);
          }
    }
    padding: 2em;
}

.navigation--bottom {
    display: none;
    @media screen and (min-width: 1100px) {
        display: block;
    }
    position: fixed;
    right: calc(15px + 2.5em);
    bottom: 0;
} 

.navigation__arrow {
    position: absolute;
    bottom: 2em;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    width: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.navigation--burger {
    position: fixed;
    right: 1em;
    top: 1em;
    width: 60px;
    height: 45px;
    color: black;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

.navigation--burger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.navigation--burger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.navigation--burger span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.navigation--burger span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.navigation--burger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.navigation--burger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.navigation--burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}